---
import ProjectCard from './ProjectCard.astro';

const projectsData = [
  {
    imgUrl: '',
    name: '',
    githubUrl: '',
    alt: '',
    languages: [
      {
        name: '',
        urlLan: '',
      },
      {
        name: '',
        urlLan: '',
      },
      {
        name: '',
        urlLan: '',
      },
    ],
  },
  {
    imgUrl: '',
    name: '',
    githubUrl: '',
    alt: '',
    languages: [
      {
        name: '',
        urlLan: '',
      },
      {
        name: '',
        urlLan: '',
      },
      {
        name: '',
        urlLan: '',
      },
    ],
  },
  {
    imgUrl: '',
    name: '',
    githubUrl: '',
    alt: '',
    languages: [
      {
        name: '',
        urlLan: '',
      },
      {
        name: '',
        urlLan: '',
      },
      {
        name: '',
        urlLan: '',
      },
    ],
  },
];
---

<section
  id='projects'
  class='bg-blueDark section-container flex flex-col gap-y-4'
>
  <div class='text-center flex flex-col w-full gap-6'>
    <h2 class='text-title'>
      <span class='text-enfasys'>&lt;&gt; </span>Proyectos
    </h2>

    <p class='text-blueText font-light text-base'>
      Proyectos que he desarollado utilizando diversas tecnologías y
      herramientas
    </p>
  </div>
  <div class='py-8 grid grid-cols-1 md:grid-cols-3 gap-8'>
    {
      projectsData.map(({ imgUrl, name, githubUrl, alt, languages }) => {
        return (
          <ProjectCard
            imgUrl={imgUrl!}
            name={name!}
            githubUrl={githubUrl!}
            alt={alt!}
            languages={languages!}
          />
        );
      })
    }
  </div>
</section>
