<section class='about__container section-container flex flex-col gap-y-4'>
  <div class='flex flex-col justify-center items-center gap-y-6'>
    <h2 class='text-title text-white'>
      <span class='text-enfasys'>&lt;&gt; </span>Acerca de mi
    </h2>
    <h4 class='text-subtitle text-gray-400'>Conoceme</h4>
  </div>
  <div
    class='grid grid-cols-1 md:grid-cols-[repeat(2,1fr)] items-center py-6 md:px-28 gap-x-2 gap-y-8'
  >
    <img
      class='justify-self-center rounded-xl shadow-xl shadow-gray-400 w-auto h-[250px]'
      src='/profile.webp'
      alt='Imagen-de-perfil'
    />

    <div class=''>
      <p class='text-lg text-gray-300 text-left my-5'>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Suscipit,
        incidunt? Aut possimus suscipit dignissimos commodi vitae rem, est
        mollitia quasi!
      </p>
      <button
        class='bg-sky-600 text-white font-semibold px-3 py-3 rounded-lg hover:-translate-y-1 transition-all duration-200'
        >Descargar CV</button
      >
    </div>
  </div>
</section>
<style>
  .about__container {
    background: #17103e;
    background: -webkit-linear-gradient(
      180deg,
      #17103e 0%,
      #0e0c15 50%,
      #0e0c15 100%
    );
    background: linear-gradient(180deg, #17103e 0%, #0e0c15 50%, #0e0c15 100%);
  }
</style>
