---
import Layout from '@layouts/Layout.astro';
import Header from '@components/Header.astro';
import Hero from '@components/Home/Hero.astro';
import About from '@components/About/About.astro';
import Skills from '@components/Skills/Skills.astro';
---

<Layout title='Welcome to Astro.'>
  <Header />
  <Hero />
  <About />
  <Skills />
  <div class='h-[1000px]'></div>
</Layout>
