<div class='home__data col-[1/3] md:col-auto px-5'>
  <h1
    class='home__title font-semibold text-2xl md:text-3xl md:tracking-wide text-white'
  >
    Alejandro Martínez
  </h1>
  <h3 class='font-bold text-4xl md:text-6xl text-enfasys py-3'>
    Desarrollador BackEnd
  </h3>
  <p class='text-lg text-white'>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Pariatur quod
    perferendis nulla!
  </p>
  <button
    class='bg-sky-600 font-semibold text-white mt-4 rounded-lg py-2 px-3 hover:-translate-y-1 transition-all duration-200'
    >Contáctame</button
  >
</div>
