---
import Social from './Social.astro';
import Data from './Data.astro';
---

<section
  id='home'
  class='home__container section-container bg-blueDark section-container pt-[10vh] md:pt-[10vh]'
>
  <div
    class='home__content md:h-[90vh] flex gap-x-6 flex-col md:flex-row justify-between md:items-center'
  >
    <Social />
    <Data />
    <div
      class='scroll-reveal-x pt-8 md:pt-0 m-auto md:m-0 -order-1 w-[250px] h-[250px] md:order-none md:w-full md:h-auto'
    >
      <img
        class='shadow-profile animate-profile'
        src='/profile.webp'
        alt='Alex Mtz'
      />
    </div>
  </div>
</section>
