---
import Social from './Social.astro';
import Data from './Data.astro';
---

<section class='pt-[10vh]'>
  <div class='home__container'>
    <div
      class='home__content h-[90vh] grid grid-cols-[0.5fr_3fr] md:grid-cols-[116px_repeat(2,1fr)] md:items-center'
    >
      <Social />
      <div
        class='home__img md:order-1 m-auto w-[280px] h-[280px] md:w-[350px] md:h-[350px] bg-[url("/profile.webp")] bg-no-repeat bg-cover bg-center md:justify-self-center shadow-profile animate-profile'
      >
      </div>
      <Data />
    </div>
  </div>
</section>
<style>
  .home__container {
    background: #17103e;
    background: -webkit-linear-gradient(0deg, #17103e 0%, #0e0c15 100%);
    background: linear-gradient(0deg, #17103e 0%, #0e0c15 100%);
  }
</style>
