<div class='home__social m-auto grid grid-cols-[max-content] gap-y-5'>
  <a href='#' class=''>
    <i class='fa-brands fa-github text-3xl text-enfasys hover:opacity-70'></i>
  </a>
  <a href=' #'
    ><i class='fa-brands fa-linkedin text-3xl text-enfasys hover:opacity-70'
    ></i>
  </a>
</div>
