<form
  action=''
  class='flex flex-col p-4 gap-y-4 w-full bg-backgroundPurple border-2 border-text rounded-md'
>
  <input
    class='bg-backgroundPurple/60 border-2 border-text text-white tracking-wider rounded-md p-2 placeholder:text-gray-300 placeholder:tracking-normal'
    type='text'
    name='name'
    id='name'
    placeholder='Nombre'
  />
  <input
    class='bg-backgroundPurple/60 border-2 border-text text-white tracking-wider rounded-md p-2 placeholder:text-gray-300 placeholder:tracking-normal'
    type='text'
    name='subject'
    id='subject'
    placeholder='Asunto'
  />
  <input
    class='bg-backgroundPurple/60 border-2 border-text text-white tracking-wider rounded-md p-2 placeholder:text-gray-300 placeholder:tracking-normal'
    type='email'
    name='email'
    id='email'
    placeholder='Correo electrónico'
  />
  <textarea
    name='description'
    id='description'
    class='h-full resize-none bg-backgroundPurple/60 border-2 border-text text-white tracking-wider rounded-md p-2 placeholder:text-gray-300 placeholder:tracking-normal'
    placeholder='Descripción'></textarea>
  <input
    type='submit'
    value='Enviar'
    class='cursor-pointer bg-enfasys/60 hover:opacity-80 text-white font-semibold rounded-md p-3'
  />
</form>
