<footer class='bg-blueDark border-t-2 section-container py-4'>
  <div class='grid grid-cols-1 gap-y-6 md:grid-cols-2 pb-3'>
    <div class='flex justify-center'>
      <ul>
        <li class='text-enfasys font-semibold text-lg pb-1'>Mis redes</li>
        <li class='text-white text-sm hover:text-enfasys/80 py-2'>
          <a href=''><i class='fa-brands fa-linkedin mr-2'></i>LinkedIn</a>
        </li>
        <li class='text-white text-sm hover:text-enfasys/80 py-2'>
          <a href=''><i class='fa-brands fa-github mr-2'></i>GitHub</a>
        </li>
      </ul>
    </div>
    <div class='flex justify-center'>
      <ul>
        <li class='text-enfasys font-semibold text-lg pb-2'>Menu</li>
        <li class='text-white text-sm font-light hover:text-enfasys/80 pb-1'>
          <a href='#home'>Home</a>
        </li>
        <li class='text-white text-sm font-light hover:text-enfasys/80 pb-1'>
          <a href='#About'>Acerca de mi</a>
        </li>
        <li class='text-white text-sm font-light hover:text-enfasys/80 pb-1'>
          <a href='#Skills'>Skills</a>
        </li>
        <li class='text-white text-sm font-light hover:text-enfasys/80 pb-1'>
          <a href='#Projects'>Proyectos</a>
        </li>
        <li class='text-white text-sm font-light hover:text-enfasys/80 py-0'>
          <a href='#Contact'>Contacto</a>
        </li>
      </ul>
    </div>
  </div>
  <div class='flex justify-center mt-4'>
    <span class='text-white text-sm font-light'
      >© 2024 Alejandro Martínez | Made with Astro</span
    >
  </div>
</footer>
