<header
  class='bg-blueDark md:backdrop-blur-sm md:bg-blueDark/70 fixed w-full px-6 py-1 md:py-0 lg:px-28 z-10'
>
  <nav class='min-h-[8vh] md:min-h-[9vh] flex justify-between items-center z-0'>
    <div class=''>
      <svg
        class='w-auto h-9 md:h-10'
        width='150'
        height='150'
        viewBox='0 0 100 100'
        xmlns='http://www.w3.org/2000/svg'
      >
        <!-- Hexágono con borde negro -->
        <polygon
          points='50,5 95,25 95,75 50,95 5,75 5,25'
          fill='transparent'
          class=''
          stroke='#4ADFBF'
          stroke-width='8'></polygon>

        <!-- Texto dentro del hexágono -->
        <text
          x='50%'
          y='50%'
          font-size='35'
          text-anchor='middle'
          dy='.3em'
          font-weight='bold'
          class=''
          fill='#4ADFBF'
        >
          AM
        </text>
      </svg>
    </div>

    <div
      id='nav-menu'
      class='bg-blueDark md:bg-transparent fixed md:static left-0 top-[-100%] w-full md:w-auto flex md:items-center gap-3 transition-all duration-200 z-10'
    >
      <ul
        class='flex flex-col gap-6 pl-7 md:px-0 py-8 md:p-0 md:flex-row md:items-center'
      >
        <li
          class='text-base font-light text-white hover:text-enfasys py-1 px-3 transition duration-300'
        >
          <a class='active' href='#home'>Home</a>
        </li>
        <li
          class='text-base font-light text-white hover:text-enfasys py-1 px-3 transition duration-300'
        >
          <a href='#about'>Acerca de</a>
        </li>
        <li
          class='text-base font-light text-white hover:text-enfasys py-1 px-3 transition duration-300'
        >
          <a href='#skills'>Skills</a>
        </li>
        <li
          class='text-base font-light text-white hover:text-enfasys py-1 px-3 transition duration-300'
        >
          <a href='#projects'>Proyectos</a>
        </li>
        <li
          class='text-base font-light text-white hover:text-enfasys py-1 px-3 transition duration-300'
        >
          <a href='#training'>Formación</a>
        </li>
        <li
          class='text-base font-light text-white hover:text-enfasys py-1 pl-3 transition duration-300'
        >
          <a href='#contact'>Contacto</a>
        </li>
      </ul>
    </div>

    <div class='md:hidden'>
      <i
        id='menu-icon'
        class='text-white fa-solid fa-bars text-lg md:text-2xl transition-all'
      ></i>
    </div>
  </nav>
  <script>
    const menuIcon = document.getElementById('menu-icon');
    const navMenu = document.getElementById('nav-menu');
    const darkMode = document.getElementById('dark-mode');

    menuIcon?.addEventListener('click', () => {
      navMenu?.classList.toggle('top-[-100%]');
      navMenu?.classList.toggle('top-[10%]');

      menuIcon.classList.toggle('fa-bars');
      menuIcon.classList.toggle('fa-close');
    });

    darkMode?.addEventListener('click', () => {
      darkMode.classList.toggle('fa-sun');
      darkMode.classList.toggle('fa-moon');
    });

    let sections = document.querySelectorAll('section');
    let navLinks = document.querySelectorAll('#nav-menu ul li a');

    window.onscroll = () => {
      sections.forEach((sec) => {
        let top = window.scrollY;
        let offset = sec.offsetTop - 120;
        let height = sec.offsetHeight;
        let id = sec.getAttribute('id');

        if (top >= offset && top < offset + height) {
          navLinks.forEach((links) => {
            links.classList.remove('active');
            document
              .querySelector('#nav-menu ul li a[href*=' + id + ']')
              ?.classList.add('active');
          });
        }
      });
    };
  </script>
</header>
<style>
  a.active {
    color: #4adfbf;
  }
</style>
