<section class='training__section section-container flex flex-col gap-y-6'>
  <div class='flex flex-col items-center gap-y-8 pb-8'>
    <h2 class='text-title'>
      <span class='text-enfasys'>&lt;&gt; </span>Formación
    </h2>
    <p class='text-subtitle'>
      Durante mi carrera y despues de la misma he tomado cursos que complementen
      mi formación y me permitan adquirir nuevos conocimientos
    </p>
  </div>

  <div class='training__content'>
    <div class='training__data grid grid-cols-[1fr_max-content_1fr] gap-y-6'>
      <div class='text-end pr-7'>
        <h3 class='text-white text-2xl font-bold'>
          Ingenieria en Sistemas Computacionales
        </h3>
        <span class='inline-block mb-2 text-enfasys/80'
          >Universidad Tecnológica de México</span
        >
        <div class='training__date'>
          <i class='fa-solid fa-calendar text-enfasys/80 font-light'
            ><span class='ml-2 text-white'>2019 - 2023</span></i
          >
        </div>
      </div>
      <div class=''>
        <span class='inline-block w-[13px] h-[13px] bg-enfasys rounded-full'
        ></span>
        <span
          class='block w-[1px] h-full bg-enfasys'
          style='transform: translate(6px, -7px);'></span>
      </div>
    </div>

    <div
      class='training__data grid grid-cols-[1fr_max-content_1fr] justify-center gap-y-6'
    >
      <div></div>
      <div>
        <span class='inline-block w-[13px] h-[13px] bg-enfasys rounded-full'
        ></span>
        <span
          class='block w-[1px] h-full bg-enfasys'
          style='transform: translate(6px, -7px);'></span>
      </div>
      <div class='pl-7'>
        <h3 class='text-white text-2xl font-bold'>CyberOps Associate</h3>
        <span class='text-enfasys/80 inline-block mb-2'
          >Cisco Networking Academy</span
        >
        <div class='training__certificate'>
          <a
            href='https://www.credly.com/badges/fc46565c-9aca-4936-8680-e098c6cb47e7/linked_in_profile'
            class='text-white font-light'
            target='_blank'
            ><i class='fa-solid fa-certificate text-enfasys/80 pr-2'
            ></i>Credencial</a
          >
        </div>
      </div>
    </div>

    <div class='training__data grid grid-cols-[1fr_max-content_1fr] gap-y-6'>
      <div class='text-end pr-7'>
        <h3 class='text-white text-2xl font-bold'>
          CCNVAv7 Introducción a Redes
        </h3>
        <span class='inline-block mb-2 text-enfasys/80'
          >Cisco Networking Academy</span
        >
        <div class='training__certificate'>
          <a
            href='https://www.credly.com/badges/c1c75dfc-c4ae-4f5b-8908-7c1c983d5866/linked_in_profile'
            class='text-white font-light'
            target='_blank'
            ><i class='fa-solid fa-certificate text-enfasys/80 pr-2'
            ></i>Credencial</a
          >
        </div>
      </div>
      <div class=''>
        <span class='inline-block w-[13px] h-[13px] bg-enfasys rounded-full'
        ></span>
        <span
          class='block w-[1px] h-full bg-enfasys'
          style='transform: translate(6px, -7px);'></span>
      </div>
    </div>

    <div
      class='training__data grid grid-cols-[1fr_max-content_1fr] justify-center gap-y-6'
    >
      <div></div>
      <div class=''>
        <span class='inline-block w-[13px] h-[13px] bg-enfasys rounded-full'
        ></span>
        <span
          class='block w-[1px] h-full bg-enfasys'
          style='transform: translate(6px, -7px);'></span>
      </div>
      <div class='pl-7'>
        <h3 class='text-white text-2xl font-bold'>
          Introducción a Ciberseguridad
        </h3>
        <span class='text-enfasys/80 inline-block mb-2'
          >Cisco Networking Academy</span
        >
        <div class='training__certificate'>
          <a
            href='https://www.credly.com/badges/3cb9131f-df88-4568-bf80-123c0209cb1c/linked_in_profile'
            class='text-white font-light'
            target='_blank'
            ><i class='fa-solid fa-certificate text-enfasys/80 pr-2'
            ></i>Credencial</a
          >
        </div>
      </div>
    </div>

    <div
      class='training__data grid grid-cols-[1fr_max-content_1fr] justify-center gap-y-6'
    >
      <div class='text-end pr-7'>
        <h3 class='text-white text-2xl font-bold'>NDG Linux Unhatched</h3>
        <span class='text-enfasys/80 inline-block mb-2'
          >Cisco Networking Academy</span
        >
      </div>

      <div class=''>
        <span class='inline-block w-[13px] h-[13px] bg-enfasys rounded-full'
        ></span>
        <span
          class='block w-[1px] h-full bg-enfasys'
          style='transform: translate(6px, -7px);'></span>
      </div>
    </div>

    <div
      class='training__data grid grid-cols-[1fr_max-content_1fr] justify-center gap-y-6'
    >
      <div></div>
      <div class=''>
        <span class='inline-block w-[13px] h-[13px] bg-enfasys rounded-full'
        ></span>
        <span
          class='block w-[1px] h-full bg-enfasys'
          style='transform: translate(6px, -7px);'></span>
      </div>
      <div class='pl-7'>
        <h3 class='text-white text-2xl font-bold'>
          ONE Oracle | Programación BackEnd
        </h3>
        <span class='text-enfasys/80 inline-block mb-2'
          >ONE Oracle Next Educatcion - Alura</span
        >
        <div class='training__certificate'>
          <a
            href='https://app.aluracursos.com/program/certificate/4c8a3ed5-83ed-4fa7-89d3-9c82eda4af41'
            class='text-white font-light'
            target='_blank'
            ><i class='fa-solid fa-certificate text-enfasys/80 pr-2'
            ></i>Credencial</a
          >
        </div>
      </div>
    </div>

    <div
      class='training__data grid grid-cols-[1fr_max-content_1fr] justify-center gap-y-6'
    >
      <div class='text-end pr-7'>
        <h3 class='text-white text-2xl font-bold'>
          Microsoft Azure Fundamental AZ-900
        </h3>
        <span class='text-enfasys/80 inline-block mb-2'
          >Joan Amengual | Udemy</span
        >
      </div>

      <div class=''>
        <span class='inline-block w-[13px] h-[13px] bg-enfasys rounded-full'
        ></span>
        <span
          class='block w-[1px] h-full bg-enfasys'
          style='transform: translate(6px, -7px);'></span>
      </div>
    </div>

    <div
      class='training__data grid grid-cols-[1fr_max-content_1fr] justify-center gap-y-6'
    >
      <div></div>
      <div class=''>
        <span class='inline-block w-[13px] h-[13px] bg-enfasys rounded-full'
        ></span>
        <span
          class='block w-[1px] h-full bg-enfasys'
          style='transform: translate(6px, -7px);'></span>
      </div>
      <div class='pl-7'>
        <h3 class='text-white text-2xl font-bold'>
          Master completo en Java de cero a Experto
        </h3>
        <span class='text-enfasys/80 inline-block mb-2'
          >Andrés Guzmán | Udemy</span
        >
      </div>
    </div>
  </div>
  <style>
    .training__section {
      background: rgb(172, 106, 255);
      background: radial-gradient(
        circle,
        rgba(172, 106, 255, 1) 0%,
        rgba(23, 16, 62, 1) 0%,
        rgba(14, 12, 16, 1) 46%
      );
    }
  </style>
</section>
