---
import '../styles/global.css';

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />

    <!-- FONT -->
    <link rel='preconnect' href='https://fonts.googleapis.com' />
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
    <link
      href='https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'
      rel='stylesheet'
    />

    <!-- ICON -->
    <link
      rel='stylesheet'
      href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css'
      integrity='sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=='
      crossorigin='anonymous'
      referrerpolicy='no-referrer'
    />

    <!-- EmailJs -->
    <script
      type='text/javascript'
      src='https://cdn.jsdelivr.net/npm/@emailjs/browser@4/dist/email.min.js'
    ></script>
    <script type='text/javascript'>
      (function () {
        emailjs.init({
          publicKey: 'MMWiJzE_8N1TtiuON',
        });
      })();
    </script>

    <title>{title}</title>
  </head>
  <body class='bg-blueDark'>
    <slot />
  </body>
</html>
<style is:global>
  @keyframes appear {
    from {
      opacity: 0;
      scale: 0.5;
    }
    to {
      opacity: 1;
      scale: 1;
    }
  }

  @keyframes appear-x {
    from {
      opacity: 0;
      transform: translateX(-100px);
    }
    to {
      opacity: 1;
      transform: translateX(0px);
    }
  }

  .scroll-reveal {
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0;
  }
  .scroll-reveal-x {
    animation: appear-x linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
  }
</style>
